<div>
  <%= link_to 'New Note', new_note_path, class: 'btn btn-default' %>
</div>
<br />
<% @notes.each do |note| %>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
        <%= note.title %> 
        ( created by <%= note.user.full_name %>,
        <%= note.formatted_created_at %> )
      </h4>
      <div class="btn-group pull-right">
        <%= link_to 'Edit', edit_note_path(note), class: "btn btn-default btn-sm" %>
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
      </div>
    </div>
    <div class="panel-body">
      <%= note.body %>

    </div>
  </div>
<% end %>


